*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}

/*---------------section 1--------------------*/
section{
    width: 100%;
   background-image: url(img/kamil-s-p4UDWirvW9g-unsplash.jpg);
   background-size: cover;
   background-position-y: 5%;
   padding-bottom: 23%;
}
.fullimg{
    padding: 0px 2%;
    padding-top: 1%;
    display: flex;
    justify-content: space-between;


}
.fullimg nav a{
    height: 100%;
    line-height: 50%;
    font-size: 17px;
    color: #000000;
}
.fullimg nav ul:nth-child(1){
    display: flex;
}

.fullimg nav ul li{
    padding: 4px 12px;
}
.fullimg nav ul{
  text-align: center;padding: 0px 15px;

}
.SousList{
   border-radius: 5px;
   background-color: #2d64e6;
   display: none;
   border: solid 2px black;

}

li:hover > ul{
    display: block;
}

.itemsSouslist{
    text-align: center;
    padding: 2px 2px;
    border-width: 6%;
}
.itemsSouslist:hover{
    background-color: #000000;

}
.fullimg nav a:hover{
    color: #e60012;
    border-radius: 5px;
}
.socialMedia{
    background-color: #e60012;
    height: 20%;
    padding: 15px 15px;
}
@media (max-width : 760px){
    nav,.socialMedia{
        display: none;
    };
}
@media (max-width: 760px){
    section .fullimg {
           display: flex;
           justify-content: center;
           padding-top: 15px;
    };
}
/*-----------------section 2-------------------------*/

.section2{
    width: 100%;
    background-color: #e60012;
    border-radius: 5px;
}
.section2 .txt{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 25px;
    justify-content: center;
}
.section2 .txt2{
    width: 100%;
    padding: 0px 15px;
    font-size: 15px;
    font-family: poppins;
    text-align: center;
    padding: 25px;

}
/*-------------------------section3-------------------------------------------*/

.section3 .card{
    width: 100%;
    display: flex;
    justify-content:  center;
   flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 55px;

}
.section3 .conatainer1 img{
    border-radius: 10px;
}
.section3 .conatainer2 img{
    border-radius: 10px;
}
.section3 .conatainer3 img{
    border-radius: 10px;
}
.section3 h2{
    padding: 15px;
    font-size: 22px;
    text-align: center;
}

/*----------------------section4--------------------------------*/
.section4{
    width: 100%;
    background-color: #2d64e6;
    border-radius: 5px;
    

}
.section4 h3{
    text-align: center;
    font-size: 22px;
    padding: 15px;

}
.section4 p{
    padding: 25px;
}
/*-----------------------------section5----------------------------------------*/
.section5 .card{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    height: 300px;
}
.section5 img{
    border-radius: 10px;
    transition-duration:0.6s; 
}
.section5 img:hover{
    width: 300px;
    height: 260px;
    box-shadow: 4px 5px 15px 1px #000000;
}
/*-----------------------------section6----------------------------------------*/
.section6{
    width: 100%;
    outline: solid 2px #000000;
    padding: 15px;
    padding-bottom: 55px;

}
.section6 h4{
  text-align: center;
}
.card4{
    display: flex;
    width: 100%;
    padding: 0px 15px;

}
.card4 .txt3{
    padding: 0px 10px;
}